*{
  box-sizing: border-box;
  margin: 0;
  padding: 0
}

/* Color palete HEX
https://coolors.co/22223b-4a4e69-9c707f-ddb3b3-f3e1e1
--space-cadet: #22223bff;
--independence: #4a4e69ff;
--mountbatten-pink: #9c707fff; #9b526a;
--baby-pink: #ddb3b3ff;
--misty-rose: #f3e1e1ff; #faeded;
--cinza super claro: #ececec;

SCSS Gradient
$gradient-top: linear-gradient(0deg, #22223bff, #4a4e69ff, #9c707fff, #ddb3b3ff, #f3e1e1ff);
$gradient-right: linear-gradient(90deg, #22223bff, #4a4e69ff, #9c707fff, #ddb3b3ff, #f3e1e1ff);
$gradient-bottom: linear-gradient(180deg, #22223bff, #4a4e69ff, #9c707fff, #ddb3b3ff, #f3e1e1ff);
$gradient-left: linear-gradient(270deg, #22223bff, #4a4e69ff, #9c707fff, #ddb3b3ff, #f3e1e1ff);
$gradient-top-right: linear-gradient(45deg, #22223bff, #4a4e69ff, #9c707fff, #ddb3b3ff, #f3e1e1ff);
$gradient-bottom-right: linear-gradient(135deg, #22223bff, #4a4e69ff, #9c707fff, #ddb3b3ff, #f3e1e1ff);
$gradient-top-left: linear-gradient(225deg, #22223bff, #4a4e69ff, #9c707fff, #ddb3b3ff, #f3e1e1ff);
$gradient-bottom-left: linear-gradient(315deg, #22223bff, #4a4e69ff, #9c707fff, #ddb3b3ff, #f3e1e1ff);
$gradient-radial: radial-gradient(#22223bff, #4a4e69ff, #9c707fff, #ddb3b3ff, #f3e1e1ff);
*/

body {
  font-family:'Montserrat', sans-serif;
  background-image: url(assets/img/pattern.png);
  
}

a {
  color: #808080;
  text-decoration: none;
  text-transform: uppercase;
}

a:hover {
  color: #9b526a;
}

.container {
  width: 80%;
  margin: auto;
  background-color: #ececec;
}

h1 {
  color: #22223bff;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

h2 {
  color: #4a4e69ff;
  margin-bottom: 20px;
}
p {
  margin-bottom: 20px;
}

ul {
list-style: none;
}

.menu{
  width: 100%;
  font-weight: bold;
  padding: 35px;
  text-align: right;
  align-items: center;
  }

.profile, .contact, .footer{
  width: 80%;
  display: flex;
  margin: auto;
  margin-top: 20px;
  }

.about_parag{
  margin-left: 40px;
}

.city {
  color: #4a4e69ff;
}

.profile_photo{
  width: 170px;
  border-radius: 50%;
  border: 10px solid #f3e1e1ff;
}

.skills{
  width: 80%;
  margin: auto;
  display: flex;
  text-align: left;
  margin-top: 50px;
  
}

.wordcloud {
  width: 30%;
  margin-left: 100px;
  margin-top: 0;
}

.contact {
  flex-direction: column;
}

.contact a{
  text-transform:lowercase;
  font-weight: 600;
}

.social a{
margin-right: 10px;
}

.social_img:hover{
  background-color: #f3e1e1ff;
}

.footer{
  justify-content: center;
  margin-top: 25px;
}

.heart{
  color: #9b526a;

}